@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-background{
    background-image: url(../images/cut5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
}

.login-form {
    width: 360px;
    margin: 200px auto;
    padding: 30px 25px;
    background: burlywood;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h1 {
    font-size: 24px;
    margin-bottom: 60px;
    margin: 30px;
    color: white;
    font-style: bold;
    border-bottom: 5px solid white;
}

.login-form input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
    transition: 0.2s;
}

.login-form input::placeholder {
    color: white;
}

.login-form input:focus {
    border-bottom: 2px solid #2c3e50;
}

.login-form button {
    width: 100%;
    height: 40px;
    background: #2c3e50;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.login-form button:hover {
    background: #19B5FE;
}

.login-form button:active {
    background: #19B5FE;
}

.login-form p {
    margin-top: 20px;
    font-size: 16px;
}

.login-form p a {
    color: #2c3e50;
    text-decoration: none;
}

.login-form p a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 40px;
    text-align: center;
}

.success {
    color: green;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.login-form label {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
