@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barber-signup-background{
    background-image: url(../images/cut3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-signup-background{
    background-image: url(../images/cut7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
}

.signup-form {
    width: 360px;
    margin: 140px auto;
    padding: 30px 25px;
    background: burlywood;
    border-radius: 8px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
}

.signup-form h1 {
    font-size: 24px;
    margin-bottom: 60px;
    color: white;
    font-style: bold;
    border-bottom: 5px solid white;
}

.signup-form input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    font-size: 16px;
    font-family: 'Poppins';
    transition: 0.2s;
    color: white;
}

.signup-form input:focus {
    border-bottom: 2px solid #2c3e50;
}

.signup-form button {
    width: 100%;
    height: 40px;
    margin: 10px;
    background: #2c3e50;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.signup-form button:hover {
    background: #19B5FE;
}

.signup-form input::placeholder {
    color: white;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;

}

